extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	section.sect-hero
		.container
			.hero-content
				.hero-content__weather
					p
						| Погода в Буковеле
						img(src="static/img/content/icons/cloud.png" alt="Cloud icon")
						span
							| 4
							sup ˚
							| C

				h1.hero-content__title В буковель
				h2.hero-content__subtitle на вертолете

				.hero-content__descr
					p
						| Дорожишь своим временем и любишь
						br
						| кататься на лыжах? Заказывай быстрый
						br
						| перелет и будешь
						strong в Буковели всего
							br
							| через 3 часа.
				.hero-content__watch
					a.hero-content__watch-link(href="#")
						+icon("play")
						| Смотреть видео
					.circle.delay1
					.circle.delay2
					.circle.delay3

			.hero-copter
				.hero-copter__wrapper
					img(src="static/img/content/copter.png")