@import "fonts";

// Colors
$main-bg: #05c4ff;
$cyan: #00ffad;
$purple: #665cac;
$green: #2bb741;

// Fonts
$Montserrat: "Montserrat", Arial, Tahoma, sans-serif;
$BebasNeue-Bold: "BebasNeue-Bold", Arial, Tahoma, sans-serif;
$BebasNeue-Light: "BebasNeue-Light", Arial, Tahoma, sans-serif;
$BebasNeue-Regular: "BebasNeue-Regular", Arial, Tahoma, sans-serif;
$BebasNeue-Thin: "BebasNeue-Thin", Arial, Tahoma, sans-serif;
